* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h3 {
  color: black;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-top: 10px;
}

.banner {
  min-height: 100px;
  width: 100%;
  background: url("static/header.jpeg");
  background-repeat: no-repeat;
}

.banner img {
  width: 100%;
}

.flash ul {
  list-style-type: none;
  background-color: #00ff83;
  text-align: center;
}

.animal-list {
  background-color: #e0e0e0;
  color: black;
}

.animal-list:hover {
  background-color: #95e0f4;
  color: white;
}

.pet-list {
  background-color: #e0e0e0;
  color: black;
}
