* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h3 {
  color: black;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-top: 10px;
}

.button-edits {
  padding: 10px;
  margin: 0;
  border-color: #95e0f4;
  border-width: 2px;
  color: #000000;
  border-radius: 5px;
}

.banner {
  min-height: 100px;
  background: url("/static/header.jpeg");
  background-repeat: no-repeat;
  color: white;
}

.banner img {
  width: 100%;
}

.flash ul {
  list-style-type: none;
  background-color: #00ff83;
  text-align: center;
}

.animal-list {
  background-color: #e0e0e0;
  color: black;
  border-bottom: 2px solid white;
}

.animal-list:hover {
  background-color: #95e0f4;
  color: white;
  border-bottom: 2px solid white;
}

.pet-list {
  background-color: #e0e0e0;
  color: black;
  border-bottom: 2px solid white;
}
