{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
  <div class="col-md-12"></div>
  <div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>{{type.name}}</h1>
    </div>
  </div>

  <div class="col-md-12 flash">
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <a href="{{url_for('newPet', type_id = type.id)}}">
        <p>Add a new pet</p>
      </a>
    </div>
    <div class="col-md-1"></div>
  </div>
  {% for pet in pets %}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3>{{pet.name}}</h3>
        <p>{{type.name}}
          <br>{{pet.description}}</br>
          <br><a href="{{url_for('editPet', type_id=type.id, pet_id=pet.id)}}">Edit</a>
          <br><a href="{{url_for('deletePet', type_id=type.id, pet_id=pet.id)}}">Delete</a>
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>
  {% endfor %}
{% endblock %}
