{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
  <div class="col-md-12"></div>
  <div class="row main">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>Edit Animal Type Details</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <form action="{{url_for('editType', type_id = type.id)}}" method='post'>
        <div class="form-group">
          <label for="name">Animal Type Name:</label>
          <input class="form-control" type="text" maxlength="32" name="name" placeholder="{{type.name}}">

          <br></br>
          <button class="button-edits" type="submit">Update!</button>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>

{% endblock %}
