<div class="row padding-top">
  <div class="col-md-6 col-sm-6 col-xs-6 text-left">
    <a href="{{url_for('showTypes')}}">Show All Animal Types</a>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 text-right">
        {%if 'username' not in session %}
    <a href="{{url_for('showLogin')}}">Login</a>
    {% else %}
    <a href="{{url_for('disconnect')}}">Logout</a>
    {% endif %}
  </div>
</div>
<div class="row banner padding-top">
  <div class="col-md-12">
    <img src="{{url_for('static', filename='header.jpeg')}}">
  </div>
</div>
<div class="row">
  <div class="col-md-12 flash">
            {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}
  </div>
</div>
