{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
  <div class="col-md-12"></div>
  <div class="row main">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>Add New Pet</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <form action="{{url_for('newPet', type_id = type.id)}}" method='post'>
        <label for="name">Pet Name:</label>
        <input type="text" maxlength="32" name="name" placeholder="Name of the pet">

        <br></br>
        <label for="description">Description of Pet:</label>
        <textarea maxlength="250" name="description" placeholder="Describe the new pet"></textarea>

        <br></br>
        <label for="adopted">Has the animal been adopted?</label>
        <select name="adopted">
          <option>Yes</option>
          <option>No</option>
        </select>

        <br></br>
        <button type="submit">Create!</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>

{% endblock %}
