{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
  <div class="col-md-12"></div>
  <div class="row main">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>Add New Pet</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <form action="{{ url_for('newType')}}" method='post'>
        <div class="form-group">
          <label for="name">Type of Animal:</label>
          <input class="form-control" type="text" maxlength="32" name="name" placeholder="Name of new animal">

          <br>
          <button class="button-edits" type="submit">Create!</button>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>

{% endblock %}
