{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
  <div class="col-md-12"></div>
  <div class="row main">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>Animal Types</h1>
    </div>
  </div>

  <div class="col-md-12 flash">
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>

  <div class="row">
  {% for type in types %}
    <a href="{{url_for('allPets', type_id = type.id)}}">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h3>{{type.name}}</h3>
          <p></p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
